*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background: linear-gradient(to top right, #0000007a, #000000e0), 
        url("https://assets.nflxext.com/ffe/siteui/vlv3/aa9edac4-a0e6-4f12-896e-32c518daec62/web/IN-en-20241223-TRIFECTA-perspective_1502c512-be5f-4f14-b21a-e3d75fe159ab_small.jpg") 
        center center/cover no-repeat;
    background-attachment: fixed;
    background-position: 0px -15px;
    /* background-color: rgba(0, 0, 0, 0.39); */
    min-height: 100vh;
}
option>img{
    filter: invert(0);
}

.logo img{
    width: 20%;
    /* height:90%; */
}
.navbar{
    display: flex;
    padding: 15px 150px;
}
.nav-container{
    display: flex;
    gap: 12px;
}
.lang-logo{
    width: 12px;
    filter: invert();
    position: absolute;
    top: 40px;
    right: 345px;
}
select{
    /* color: black; */
    background-color: rgba(0, 0, 0, 0.651);
    padding: 5px 20px;
    padding-left: 25px;
    border-radius: 5px;
    margin: 16px 0;
    width: 9vw;
    font-weight: 600;
    cursor: pointer;

}
.sign{
    background-color: #e50914;
    width: 6vw;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 15px 0 ;
    cursor: pointer;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18vh; 
   
}
.contain{
    width: 40vw;
    text-align: center;
}
.contain h1{
    text-align: center;
    font-size: 56px;
    line-height: 68px;
    font-weight: 900;
}
.contain h3{
    margin-top: 16px;
    text-align: center;
    font-size: 20px;    
    font-weight: 500;
}
.contain p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 33px;
}

.input{
    margin-top: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
input{
    align-items: center;
    padding: 18px 12px;
    background-color: #201f1f8c;
    border: 1px solid rgb(112, 100, 100);
    width: 26vw;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
}
input::placeholder{
    font-size: 16px;
    color: rgb(159, 161, 162);
}

.get-started{
    background-color: #e50914;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;

}

.curve-line{
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    height: 60px;
}

.line{
    /* position: absolute; */
    height: 3px;
    bottom: 1px;
    background: linear-gradient(to right ,#771c45,#e10c1c,#771c45);

}

.page2{
    background-color: #000000;
    padding: 2vw 10vw;
}

.page2 h2{
    font-weight: 700;
    font-size: 25px;
}

.page2 #region{
    margin-right: 10px;
    padding: 7px 10px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.192);
}
.page2 #movies{
    padding: 7px 10px;
    background-color: rgba(128, 128, 128, 0.192);
    font-size: 16px;
}

.trending-contain select option{
    color: #000000;
}

.top-movies{
    display: flex;
    width: 78vw;
    /* background-color: #771c45; */
    overflow: auto;
    scrollbar-width: none;
    margin-bottom: 25px;
}

.movies-card {
    position: relative;
}

.movies-card img {
    border-radius: 10px;
    width: 12vw;

    margin: 2vw 2.3vw;
}
.movies-card img:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}
.more-reasons{
    position: relative;
    cursor: pointer;
    
}

.number {
    position: absolute;
    bottom: 35px;
    left: 10px;
    color: rgb(0, 0, 0);
    font-size: 3.5vw;
    font-weight: bold;
    text-shadow: -2px 0px 6px rgb(255, 255, 255); 
    width: 3.5vw; 
    height: 3.5vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.5s; 
}

.movies-card:hover .number {
    transition: all 0.5s;
    transform: scale(1.3); 
}

.reason-card{
    display: flex;
}
.card{
    box-sizing: border-box;
    height: 330px;
    width: 260px;
    background: linear-gradient(to top left , #210e17, #192246);
    padding: 20px 25px;
    margin: 20px 10px;
    border-radius: 10px;
}

.card h1{
    font-size: 24px;
    font-weight: 500;
}

.card h3{
    margin-top: 12px;
    font-size: 16px;
    color: #b3b2ba;
    font-weight: 400;
}

#png1{
    position: absolute;
    width: 5.5vw;
    bottom: 35px;
    left: 180px;
}
#png2{
    position: absolute;
    width: 5.5vw;
    bottom: 35px;
    left: 445px;
}
#png3{
    position: absolute;
    width: 5.5vw;
    bottom: 30px;
    left: 710px;
}
#png4{
    position: absolute;
    width: 5.5vw;
    bottom: 30px;
    right: 20px;
}


.asked-que{
    width: 78vw;
    font-size: 12px;
    font-weight: 500;
}
.asked-que h1{
    margin-bottom: 12px;
}

.que-container{
    background-color: #2d2d2d;
    padding: 15px ;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    justify-content: space-between;
}
.que-container h3{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}
.que-container h4{
    font-size: 30px;
    font-weight: 400;
}


.membership{
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
}


.input1{
    margin-top: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 44px;
}
.input1 input{
    align-items: center;
    padding: 15px 12px;
    background-color: #2927277e;
    border: 1px solid rgb(112, 100, 100);
    width: 38vw;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
}
input::placeholder{
    font-size: 16px;
    color: rgb(159, 161, 162);
}

.get-started1{
    background-color: #e50914;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;

}

.footer{
    color: #a7a7a7;
}
.contact{
    margin: 34px  0px;
    font-weight: 500;
    color: #a7a7a7;
}

.footer-conatiner{
    display: flex;
    justify-content: space-evenly;
}

.footer-box{
    /* border: 2px solid white; */
    width: 30vw;
    
}
.footer-box h3{
    color: #a7a7a7;
    text-decoration: underline;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 500;
    cursor: pointer;
}

.footer-container{
    margin-top: 31px;

}

.footer .lang1-logo{
    width: 12px;
    filter: invert(1);
    position: absolute;
    top: 2550px;
    left: 145px;
    z-index: 1;
}

.footer .footer-text{
    font-size: 16px;
    font-weight: 500;
    color: #a7a7a7;
    margin: 43px 0px;
}