@import url('https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular');
@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html,
body {
    width: 100%;
    height: 100%;
}

.heading {
    background-color: black;
    color: white;
    display: flex;
    padding: .4vw 4vw;
    align-items: center;
}

.heading p {
    font-size: 13px;
    font-weight: 100;
    font-family: 'Satoshi', sans-serif;
    padding-left: 36vw;
}

.heading p a {
    font-size: 13px;
    font-weight: 100;
    font-family: 'Satoshi', sans-serif;
    color: white;
}

.heading h3 {
    font-size: 22px;
    font-weight: 100;
    padding-left: 28vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 1vw 4vw;
    justify-content: space-evenly;

}

.nav-bar .logo {
    font-family: "Integral CF Regular";
    font-size: 1.5vw;
}

.nav-bar .nav-items ul {
    display: flex;
    list-style: none;
}

.nav-bar .nav-items ul li {
    padding-left: 3vw;
    font-size: 18px;
    font-family: 'Satoshi', sans-serif;

}

.nav-bar .search {
    display: flex;
    width: 32vw;
    border-radius: 50px;
    /* border: 2px solid; */
    align-items: center;
    padding: 1vw 2vw;
    margin-left: 3vw;
    background-color: #F0F0F0;
}

.nav-bar .search input {
    background-color: #F0F0F0;
    display: flex;
    border: none;
}

.nav-bar .search input::placeholder {
    font-size: 15px;
}

.nav-bar .account {
    display: flex;

}

.nav-bar .account h2 {
    font-weight: 600;
    padding-left: 2vw;

}

/*! Home Container */
.home-container {
    background-color: #F2F0F1;
    display: flex;
}

.home-container .home-contain {
    padding: 7vw 3vw;
    padding-left: 4vw;
    width: 50vw;
    /* border: 2px solid; */
}

.home-container .home-contain h1 {
    font-size: 5vw;
    font-family: "Integral CF Regular";
    font-weight: 700;
    line-height: 60px;
    padding-left:1vw;
    
}

.home-container .home-contain>p {
    padding-left:1vw;
    margin-top: 2vw;
    color: #8d8c8d;
    font-family: 'Satoshi', sans-serif;
    font-size: 15px;
}

.home-container .home-contain button {
    margin-top: 2vw;
    margin-left:1vw;
    font-family: 'Satoshi', sans-serif;
    color: #FFFFFF;
    padding: 1vw 3vw;
    background-color: black;
    border-radius: 50px;
    border: none;
    margin-bottom: 2vw;
}

.home-container .home-contain .home-brands {
    padding-left:1vw;
    display: flex;
    font-family: 'Satoshi', sans-serif;
    justify-content: space-between;
}

.home-container .home-contain .home-brands .quality {
    border-right: 1px solid #cccccc;
    padding-right: 3vw;
    border-left: 1px solid #cccccc;
    padding-left: 3vw;
}

.home-container .home-contain .home-brands h2 {
    display: flex;
    font-family: 'Satoshi', sans-serif;
    font-size: 3vw;
    font-weight: 600;
}

.home-container .home-contain .home-brands p {
    display: flex;
    font-family: 'Satoshi', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #8d8c8d;

}

.home-container .home-img {
    width: 50vw;
    height: 55vw;
}

.home-container .home-img #img1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5%;
    right: 5%;
    z-index: 1;
}

.home-container .home-img #img2 {
    width: 6%;
    height: 15%;
    position: absolute;
    top: 35%;
    right: 6%;
    z-index: 1;
}

.home-container .home-img #img3 {
    width: 4%;
    height: 8%;
    position: absolute;
    top: 65%;
    right: 45%;
    z-index: 1;
}

.home-footer {
    position: relative;
    top: 130%;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 4vw;
}

.home-footer img {

    object-fit: contain;
}

/*! new-arrivals */

.new-arrivals {
    padding: 0 6vw;
}

.new-arrivals h1 {
    font-family: "Integral CF Regular";
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
    margin-top: 4vw;
}

.cards {
    /* border: 2px solid; */
    margin-top: 3vw;
    display: flex;
    padding: 2vw 0vw;
    justify-content: space-around;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid; */

    font-family: 'Satoshi', sans-serif;

}

.cards .card h2 {
    margin-top: 1vw;
    font-size: 1.2vw;
}

.cards .card .arrival {
    width: 20vw;
    height: 20vw;
    /* border: 2px solid; */
    border-radius: 20px;
    background-color: #F0EEED;
    object-fit: contain;

}
.cards .card img {
    
    background-size: 390%;

}

.cards .card .rating {
    margin-top: 1vw;
    width: 9vw;
}

.cards .card .pricing {
    display: flex;
    align-items: center;

}

.cards .card .pricing .discount {
    margin-top: 1vw;
    padding: .5vw 1vw;
    font-size: .9vw;
    background-color: #FF33331A;
    color: #FF3333;
    border-radius: 50px;
    margin-left: 1vw;
}

.cards .card .pricing {
    display: flex;

}

.cards .card .price {
    margin-top: 1vw;
    font-size: 1.6vw;
}

.cards .card .dis-price {
    margin-top: 1vw;
    font-size: 1.6vw;
    color: #8d8c8d;
    padding-left: 1vw;
}


.btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
}

.btn {
    /* margin: auto; */
    padding: 1vw 4vw;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 50px;
    font-size: 1.1vw;
    margin-bottom: 3vw;
}

.line {
    height: 2px;
    background-color: #cccccc;
    width: 100%;
}

/*! Top Selling */

.top-selling {
    padding: 0 6vw;
}

.top-selling h1 {
    font-family: "Integral CF Regular";
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
    margin-top: 7vw;
}


/*! Dress-style */

.dress-style {
    padding: 5vw 6vw;
}

.dress-conatainer {
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 3vw 6vw;

}

.dress-conatainer h1 {
    font-family: "Integral CF Regular";
    font-weight: 800;
    font-size: 3.5vw;
    padding-top: 2vw;
    text-align: center;
}

.dress-conatainer .style-imgs1 {
    padding-top: 4vw;
    display: flex;
}

.dress-conatainer .style-imgs1 .casual {
    border-radius: 20px;
    width: 30vw;
    height: 20vw;
    background-color: #8d8c8d;
    background-image: url("https://s3-alpha-sig.figma.com/img/e1b7/74ab/a32d9a769caba77c08e107a9198dcd6d?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Xp2sEqVJVW5gSLUnx~exZ9cfax4IKfyfZQKSFndyyUqCmm-GSDQ0DvZPNFk-cdrxfM~fE2q1BJ9msOIi-4ShBo4LKZX1xWDaF6w7eOb0fVBvzmP3VhyYpSkQW6CAMeKPw4HaTH6mpgNju6BkW3YB3qjf6sxFtjFxl3~OFMshlAwE95Ww6Cf-5DiAGJOXtltNL-xtVoxvOTjpVHYB0WzPwdHfReHzPIcYGwKp9~a1GBSc3E5y0sk0-wpi4JvktF0KTpA-xma~~0sg8uru7sFapQlqO9zKutshilk0ntYxoAWZCUFw4jm0N5ViGDKZ6OYpDXBpXZMvHT5mI3fHFgDEAw__");
    background-position: -180px -140px;
    transform: scaleX(-1);

}

.dress-conatainer .style-imgs1 .casual h2 {
    position: relative;
    top: 10%;
    right: 10%;
    font-size: 3vw;
    transform: scaleX(-1);
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}


.dress-conatainer .style-imgs1 .formal {
    border-radius: 20px;
    margin-left: 2vw;
    width: 42vw;
    height: 20vw;
    background-color: #8d8c8d;
    background-image: url("https://s3-alpha-sig.figma.com/img/e46e/d6ac/8bdbe2c750dcc6e834bf1d98a4a73b29?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YZ~Htehv1Q7Owypskd~5rdzsxhylM-UiXkPP-powwe5ztJjW2cEiPmuoyCAK2swzsAKWIV6~BBSXfjVvmocqiEUwDXRA3UxszdhVAV9qzh2JepmD1qCnBL2UUzWkCYUfxwsRRqer~Ca3nj9lWCmrdmKEqGjXkP7o4oBUJzRYrNYXY7dKrIkD0vf1Ndb4IP-QYIe3CYeNDUIPBR46zYmdUXLz8i2XPZiIKb7OAI0R1ryzO6KXq97eULfG6N94Wr7iWypFfFHD3b4~5qt2GHRg-DzFEonjkVu97WavMvUQlO6ClQATF1p58wGSUlwr9WN3~PpcJkV~Otr59kNVBY1dOQ__");
    background-position: -70px -130px;
    background-size: 190%;
}

.dress-conatainer .style-imgs1 .formal h2 {
    position: relative;
    top: 10%;
    left: 0%;
    font-size: 3vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}

.dress-conatainer .style-imgs2 {
    display: flex;
    padding-top: 1.5vw;
}

.dress-conatainer .style-imgs2 .party {
    border-radius: 20px;
    width: 42vw;
    height: 20vw;
    background-color: #8d8c8d;
    background-image: url("https://s3-alpha-sig.figma.com/img/aa19/c69e/82cd85a823c989c1c8631bd976e2cbfb?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WvMpm-lMGOYOtqeXsx6oyB-fRhCaRUW~g1H-wiH3hkV4wUeRL8SsKxb4uGtSGpKTeMilnqDH5WjB-Px5~mLYzIqUyFs9ge9T-nPKh6XWPSbw6YGncWlXQ2A9RkQfWaGv50A1zjlb6-aDLKjlG2mzd20cOP3wfCZpYtnTcXR39Ocpx7B0m4XuhvgTkpAEfXT-k2JTaDPB46bzlfBcgWpgL7RouJ5kt18zSYlHC9bAAbbetdrNBJcNKR094fUDyP-IHiiYBQVtUHOMhzer0iMSEu3fKLnj4KScGHu8v9NP4CDkqvtvdCuY1-0aRnUqID4p~GUKJPOHUUg1u~RyF5mUmA__");
    background-position: -70px -170px;
    background-size: 140%;
}

.dress-conatainer .style-imgs2 .party h2 {
    position: relative;
    top: 10%;
    left: 7%;
    font-size: 3vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}

.dress-conatainer .style-imgs2 .gym {
    border-radius: 20px;
    width: 30vw;
    height: 20vw;
    margin-left: 2vw;
    background-color: #8d8c8d;
    background-image: url("https://s3-alpha-sig.figma.com/img/fce6/58e0/c17a220fe8bfb1126626f3ab58a761ec?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F7PfKwrEh2T8F~QWqyxMuArXm00FGJHnjQo2qU01j3hJKys4UA1cWjS2iHm7JvR446KzXYURC63tGTklLIw7WUq3O-tnBVzSNRS4uLo8eEIHY6M5MoX1WNThqikqTtg~BNrYE6yvrJb-2ZbLb0e2R2KrIDFSPI8RP2rwBItgUXgrOUggcPpQuPStysem0GMYiIL8hVLEaJPeUlSPZSZPBsbH5ZjAjHqyorTgYE0YznNzQiuSmPcEryHULp0vGJENHL2G093TGoS9-mCZ4sW5hgeIJcRb4~0V40nimxdHvfQWeNUOMz0ymFztld-c58aF7UeYTxy31cyvBmD4-QehCA__");
    background-position: 40px -130px;
    background-size: 100%;
}

.dress-conatainer .style-imgs2 .gym h2 {
    position: relative;
    top: 10%;
    left: 0%;
    font-size: 3vw;
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}


/*! happy-customer  */

.happy-customer {
    padding: 2vw 6vw;

}

.happy-customer .customer-heading h1 {
    font-family: "Integral CF Regular";
    font-size: 3vw;
}

.customer-cards {
    padding-top: 3vw;
    font-family: 'Satoshi', sans-serif;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
}

.customer-cards .customer-card {
    border: 1px solid;
    padding: 2vw 3vw;
    margin-left: 2vw;
    border-radius: 20px;
    min-width: 30vw;
}

.customer-cards .customer-card .cus-name {
    font-family: 'Satoshi', sans-serif;
    display: flex;
    padding: .8vw 0vw;
    align-items: center;
}

.customer-cards .customer-card .cus-name h1 {
    font-size: 2.3vw;
}

.customer-cards .customer-card p {
    font-family: 'Satoshi', sans-serif;
    font-size: 1vw;
    padding: 1vw 0vw;
    color: #00000099;
}


/*! Footer */

.footer {
    margin-top: 15vw;
    background-color: #0000001A;
    position: relative;
    padding: 1vw 6vw 2vw 8vw;
}

.footer .stay-upto-date {
    background-color: black;
    padding: 2vw 6vw;
    color: white;
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: -20%;
    left: 8%;
}

.footer .stay-upto-date h1 {
    font-family: "Integral CF Regular";
    font-size: 3vw;
    color: white;
    width: 80%;
}

.footer .stay-upto-date .subscribe-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .stay-upto-date .subscribe-container .email {
    /* border: 1px solid; */
    display: flex;
    background-color: white;
    padding: .5vw .9vw;
    width: 22vw;
    border-radius: 50px;

}

.footer .stay-upto-date .subscribe-container .email input {
    border: none;

}

.footer .stay-upto-date .subscribe-container .email input ::placeholder {
    border: none;
    font-size: 1vw;
}

.footer .stay-upto-date .subscribe-container .email h3 {
    font-weight: 500;
    color: #8d8c8d;
    font-size: 1.7vw;
    padding-right: 1vw;
}

.subscribe-container .subscribe-btn {
    padding: 1vw 2vw;
    background-color: white;
    display: block;
    border-radius: 50px;
    width: 22vw;
    border: none;
}

.footer .footer-container {
    display: flex;
    padding: 0;
    padding-top: 10vw;
    padding-bottom: 4vw;
    gap: 12px;
    border-bottom: 1px solid #8d8c8d;
    margin-bottom: 1vw;
    width: 100%;
}

.footer .footer-container .footer-items {
    /* padding: 1vw 1vw; */
    width: 25vw;
    /* border: 1px solid; */
    line-height: 35px;
}
.footer .footer-container .footer-items .social-media img{
    margin-right: 1vw;
    margin-top: 3vw;
    width: 2vw;
}
.footer .footer-container .footer-items h2{
    font-family: 'Satoshi', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: .8vw;
}
.footer .footer-container .footer-items p{
    font-family: 'Satoshi', sans-serif;
    color: #00000099;
    font-size: 1.2vw;
}
.footer .footer-container #item1{
    width: 40vw;
}
.footer .footer-container #item1 h1{
    font-family: "Integral CF Regular";
    font-size: 2.5vw;
}
.footer .footer-container #item1 p{
    font-family: 'Satoshi', sans-serif;
    font-size: 1vw;
    line-height: 20px;
    padding-top: 1.3vw;
    color: #00000099;
}


/*! footer-payment */

.footer-payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-payment p{
    font-family: 'Satoshi', sans-serif;
    font-size: 1vw;
    color: #00000099;

}
.footer-payment img{
    width: 4vw;
    padding: 0;
}